.bgimg {
    /* background-image: url('/design/index_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh; */

    width: 98%;
	/*
	background-color: green;
	background-image: url("back.png");
	background-repeat: no-repeat; 
	background-position: center;
	background-attachment: fixed; 
	*/

	/* 위와동일 */
	background: white url('/design/index_background.webp') no-repeat center fixed;

	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size: cover;
	background-size: cover;
}

.titlescreen {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 50vh;
}

.middlescreen {
    display: flex;
    flex-direction: column;
    flex: 2px;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 0vh;
}

.middlebuttons {
    display: flex;
    flex: 2px;
    justify-content: center;
}

.bluebutton {
    /* position: absolute; */
    
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    line-height: 2.5rem;

    padding: 0px 1.25rem;
    vertical-align: middle;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;

    border-radius: 0rem;

    direction: var(--site-language-direction);

    overflow: hidden;
    text-overflow: ellipsis;

    background-color: rgb(27, 62, 242);
    color: rgb(255, 255, 255);

    width: 120px;
    height: 60px;
}

.bluebutton:hover {
    /* width: 125px;
    height: 65px; */
    background-color: rgb(65, 94, 242);
    cursor: pointer;

    transition: background-color 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.prettyText {
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2.6em;
    line-height: 1.5;
    font-weight: 400;
}

.chat_input_textbox {
    display: block;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #000000;
	background: rgba(#000000, .2);
	border-radius: .0em .0em .2em .2em;
	padding: .4em;
	color: #000000;

    /* height: 30px; */
    padding: 10px;
    font-size: 15px;
    margin-top: 13px;
}